@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  background: url("http://wp.alithemes.com/html/jobhub/frontend/assets/imgs/theme/background-blur.svg") no-repeat 0px 14%;
  background-size: contain;
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a, a:hover {
    text-decoration: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1345px;
  }
}